@charset "utf-8";
html{
	font-family:"微软雅黑", san serif;
	font-color:#1A1A1A;
	}
body{
	font-size:2rem;
	margin:0;
	padding:0;
 	overflow-y:scroll; 
	background-color:#FFFFF7;
	}
#center{
	width:80%;
	margin:auto; 
	padding:0px 40px 10px 40px;
	}	
#optionSearch{
	position:absolute;
	left:20%; 
	top:7rem;
}
.option1{
	position:absolute;
	top:2rem;
	left:20%;
	height:5rem;
}
.option2{
	position:absolute;
	top:14rem;
	left:20%;
}
#casetable{
	position:absolute;
	top:18rem;
	left:20%;
	line-height:1rem;
	border-collapse:collapse;
	border-spacing:0;
	text-align:center;
}
.search-init{
	height:2rem;
	width:40%;
}	
.init{
	font-family:"微软雅黑";
	font-size:1rem;
	font-color:#1A1A1A;
}
.button-init{
	height:2rem;
	background-color:#63BD84;
	color:#F1F1F1;
	border:0px;
	width:5rem; 
	margin-right:3rem;
}
.button-on{
	height:2rem;
	background-color:#F1F1F1;
	color:#63BD84;
	border:0px;
	width:5rem; 
	margin-right:3rem;
}

input[type=search]{
	width:30rem;
}

#casetable th,#casetable tr,#casetable td{
	width:9.5rem;
	line-height:1.8rem;
	border:2px solid #63BD84;
	padding:0px;
}
th{
	background-color:#BCE2CB;
	color:#393939;
}
