<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ICS</display-name>
  <welcome-file-list>
    <welcome-file>ics.html</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>com.ics.dao.HsqldbContextListener</listener-class>
  </listener>
  
  <!--配置Servlet类-->
  <servlet>
    <servlet-name>CaseCalueServlet</servlet-name>
    <servlet-class>com.ics.servlet.CaseCalueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalueLineServlet</servlet-name>
    <servlet-class>com.ics.servlet.CalueLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCaseCalueServlet</servlet-name>
    <servlet-class>com.ics.servlet.DelCaseCalueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCalueLineServlet</servlet-name>
    <servlet-class>com.ics.servlet.FindCalueLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveCalueLineServlet</servlet-name>
    <servlet-class>com.ics.servlet.SaveCalueLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpeCalueLineServlet</servlet-name>
    <servlet-class>com.ics.servlet.OpeCalueLineServlet</servlet-class>
  </servlet>





  <!--配置请求处理映射-->
  <servlet-mapping>
    <servlet-name>CalueLineServlet</servlet-name>
    <url-pattern>/CalueLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaseCalueServlet</servlet-name>
    <url-pattern>/CaseCalueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCaseCalueServlet</servlet-name>
    <url-pattern>/DelCaseCalueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCalueLineServlet</servlet-name>
    <url-pattern>/FindCalueLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCalueLineServlet</servlet-name>
    <url-pattern>/SaveCalueLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpeCalueLineServlet</servlet-name>
    <url-pattern>/OpeCalueLineServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
       <filter-name>EncodingFilter</filter-name>
       <filter-class>test.servlet.MyFilter</filter-class>
  </filter>
  <filter-mapping>
       <filter-name>EncodingFilter</filter-name>
       <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>