<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ICS</display-name>
  <welcome-file-list>
    <welcome-file>ics.html</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>com.ics.dao.HsqldbContextListener</listener-class>
  </listener>
  
  <!--配置一个Servlet类，并取名为httpprocesserservlet-->
  <servlet>
    <servlet-name>httpprocesserservlet</servlet-name>
    <servlet-class>test.servlet.MyServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CaseCalueServlet</servlet-name>
    <servlet-class>com.ics.servlet.CaseCalueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalueLineServlet</servlet-name>
    <servlet-class>com.ics.servlet.CalueLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCaseCalueServlet</servlet-name>
    <servlet-class>com.ics.servlet.DelCaseCalueServlet</servlet-class>
  </servlet>


  <!--配置请求处理映射，就是前台通过什么样的路径请求通过这处理，这里就配置为前台页面中往后台提交时，
  form的action为"httpprocesserservlet"时，通过测试的Servlet处理-->
  <servlet-mapping>
    <servlet-name>httpprocesserservlet</servlet-name>
    <url-pattern>/httpprocesserservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CalueLineServlet</servlet-name>
    <url-pattern>/CalueLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaseCalueServlet</servlet-name>
    <url-pattern>/CaseCalueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCaseCalueServlet</servlet-name>
    <url-pattern>/DelCaseCalueServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
       <filter-name>EncodingFilter</filter-name>
       <filter-class>test.servlet.MyFilter</filter-class>
  </filter>
  <filter-mapping>
       <filter-name>EncodingFilter</filter-name>
       <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>